<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Métodos Contraceptivos</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="../resource/img/icon/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <div class="header">
            <h1>Métodos Contraceptivos</h1>
            <!-- <p>Conheça as diferentes opções de métodos contraceptivos e escolha o que melhor atende às suas
                necessidades.
            </p> -->
        </div>
    </header>
    <div class="image-grid">
        <a href="#camisinha"><img src="../resource/img/banana.jpg" alt="Imagem 1"></a>
        <a href="#naturais"><img src="../resource/img/camisinha.jpg" alt="Imagem 2"></a>
        <a href="#permanentes"> <img src="../resource/img/remedio.jpg" alt="Imagem 3"></a>
        <a href="#barreira"><img src="../resource/img/mao.jpg" alt="Imagem 4"></a>
    </div>

    <section id="introducao">
        <h2>A Importância da Educação Sexual e do Acesso à Anticoncepção para Adolescentes</h2>
        <p>A adolescência é um período marcado por transformações físicas, emocionais e sociais, em que o início da
            vida sexual ocorre com frequência cada vez maior e, muitas vezes, sem a devida proteção. A falta de
            informações claras e acessíveis sobre métodos contraceptivos e os riscos de doenças sexualmente
            transmissíveis (DSTs) e AIDS aumenta a vulnerabilidade dos jovens a gravidezes indesejadas e à exposição a
            essas doenças. No Brasil, a gravidez na adolescência é uma das principais causas de internação de jovens no
            sistema de saúde, com alta prevalência em todas as regiões do país.
            Diversos fatores contribuem para a incidência de gravidez na adolescência, como o início precoce da
            atividade sexual, dificuldades de acesso a serviços de saúde e insegurança no uso de métodos contraceptivos.
            Estudos indicam que, embora os jovens recebam informações sobre anticoncepção, ainda é comum o uso
            inadequado desses métodos, o que aponta para uma deficiência na educação sexual, especialmente no ambiente
            escolar.
            A criação de programas de saúde que assegurem privacidade, confidencialidade e apoio para os adolescentes é
            essencial para promover uma vivência saudável da sexualidade. Este estudo busca oferecer suporte científico
            para profissionais de saúde e educação, visando aprimorar o atendimento e a orientação a essa faixa etária.
        </p>
    </section>

    <section id="tipos">
        <h2>Tipos de métodos contraceptivos</h2>
        <p>Os diferentes métodos contraceptivos são conhecidos pelos profissionais da saúde, da educação e também pela
            maioria da população em idade reprodutiva. Porém, a eficácia e a utilização correta nem sempre é explorada,
            principalmente com os adolescentes, os quais têm iniciado cada vez mais precocemente as atividades sexuais
            sem, contudo receberem ou buscarem informações acerca da contracepção.</p>
        <p class="citacao">
            "O uso de contraceptivos mostra uma
            atitude positiva frente a sexualidade, mas também um grau de maturidade e auto-estima próprios de quem
            projeta o futuro negociando com o presente as suas decisões". (Ramos; 2001: 31).<sup>37</sup>
        </p>
        <p>
            Segundo o Ministério da Saúde,14,15 a assistência em anticoncepção pressupõe oferta de todas as alternativas
            de métodos contraceptivos, assim como o acompanhamento clínico-ginecológico da adolescente referente ao
            método elegido.17 Tais métodos se dividem de acordo com o mecanismo de ação: a) métodos comportamentais que
            estão embasados na auto-observação que ocorre no organismo ao longo do ciclo menstrual, sendo necessário que
            as usuárias tenham ciclos menstruais regulares e que exista cumplicidade entre o casal (Ogino-Knaus,
            temperatura basal corporal, mucocervical ou Billings); b) os métodos de barreira que consistem em obstáculos
            mecânicos ou químicos à penetração dos espermatozóides no canal cervical (preservativo: masculino e
            feminino, diafragma, geléias espermicidas); c) métodos hormonais (oralpílula, injetáveis e implante) cuja
            finalidade básica é impedir a concepção; d) dispositivo intra-uterino (DIU), que atuam impedindo a
            fecundação; e) métodos cirúrgicos ou esterilização (ligadura das trompas e a vasectomia); f) contracepção de
            emergência, método alternativo hormonal oral que evita a gravidez quando ingerido até 72 horas após a
            relação sexual desprotegida.14,15,18-22
            Duarte et al.23 afirmam que a escolha do método contraceptivo deve ser responsabilidade do casal. Nesse
            sentido os autores ressaltam a importância da assistência integral a saúde sexual e reprodutiva de homens e
            mulheres, com implantação de programas que incluam a reflexão acerca da dinâmica das relações e dos papéis
            sociais.
        </p>
    </section>

    <div class="divimagem">
        <img class="imagem">
    </div>

    <section id="camisinha">
        <h2>Enim ea soluta</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quod numquam ullam optio voluptate,
            accusantium nesciunt fuga libero rerum, unde fugiat blanditiis atque sapiente eveniet? Consequatur nesciunt
            delectus error tempore.</p>
    </section>

    <section id="naturais">
        <h2>Naturais</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nostrum numquam consectetur asperiores
            enim, soluta aspernatur quas eum quis ducimus libero, nisi odit eaque aliquam. Soluta, incidunt voluptas?
            Quae, consequuntur?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus tempore dolore, vitae
            quisquam quidem, esse nam quos qui blanditiis vel delectus incidunt sunt! Rem et neque itaque alias quo
            quidem.</p>
    </section>
    <div class="imagemguide">
        <img class="imagembot">
    </div>
    <section id="permanentes">
        <h2>Fugit Excepturi</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis aliquam magnam deleniti praesentium.
            Dolor, nihil? Officia, assumenda, facilis, vitae numquam blanditiis temporibus at illum eaque fugit
            excepturi sed accusamus. Aspernatur!</p>
    </section>

    <section id="barreira">
        <h2>Fugit Excepturi</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis aliquam magnam deleniti praesentium.
            Dolor, nihil? Officia, assumenda, facilis, vitae numquam blanditiis temporibus at illum eaque fugit
            excepturi sed accusamus. Aspernatur!</p>
    </section>

    <footer>
        <div id="footer">
            <span>&copy; 2024 Informativo sobre Métodos Contraceptivos <br>Centro Universitário Mauricio de Nassau</span>
        </div>
    </footer>

    <script src="script.js"></script>
</body>

</html>